.header{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    padding: 1rem;
}


.nav-menu{
    display: flex;
}

.nav-menu li{
    padding:0 1rem;
    list-style: none
    
    ;
}